main{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#opacity{
    margin: 5px;
    width: 30px;
    height: 10px;
}

body{
    background-color: rgba(111, 108, 108,1);
    overflow-x: hidden;

}

#color{
    color: rgb(0, 208, 255);
}

.BG-box{
    border-radius: 10px;
    width: 600px;
    max-width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
}
h1{
    text-transform: capitalize;
}

.btn{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
}
.btn:hover{
    background-color: pink;
}